<p class="head">I had to do this by the way!</p>

<div class="h1">{{title}}</div>
<button class= "need" (click)="changeTitle()">Need Change!!</button>

<button class= "do" (click)="toggleVisibility()">Do it yourself!!!!</button>
<p *ngIf="isVisible">This is my Message to you!</p>

<div class="items">
    <div class="h2">
    Things To Do:
    </div>
    <ul>
        <li *ngFor="let item of items; let i = index">
            {{i+1}} {{item}}
        </li>
    </ul>
</div>

<div>
    <button (click)="onButtonClick()">Click Me!</button>
    <p>{{message}}</p>
</div>