
.h1{
    color:rgb(104, 26, 206);
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    font-style: italic;
}

.head{
    color: green;
    font-weight: bolder;
    font-style: normal;
    font-size: larger;
}
.do{
    background-color: blue;
}
.need{
    background-color: aqua;
}
.image-resize{
    width: 25vw;
    height: 25vh;
    overflow: auto;
}
.image-resize img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.project-container{
    width: 100vw; /* Full viewport width */
    height: 100vh; /* Full viewport height */
   
    
}